.title {
    background:	#1E90FF;
    display: flex;
    justify-content: center;
}

.topics {
    background:	#FFE4E1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.master-slave {
    display: flex;
    flex-direction: column;
    background: #778899;
    border: 2px solid black;
    flex-basis: 25%;
    align-items: stretch;
}

.master {
    border: 2px solid black;
}

.minion {
    border: 2px solid black;
}

.components {
    display: flex;
    flex-direction: column;
    background: #1E90FF;
    border: 2px solid black;
    flex-basis: 70%;
}

.master-components {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.topic1 {
    border: 2px solid black;
}

.topic2 {
    border: 2px solid black;
}

.topic3 {
    border: 2px solid black;
}

.minion-components {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    /*visibility: hidden;*/
}

.topic4 {
    border: 2px solid black;
}

.topic5 {
    border: 2px solid black;
}